body{
	background-color: grey;
	color: white;
}

.cool{
	visibility: hidden;
	display: none;
	width: 100px;
	height: 100px;
	background-color: green;
	transition: background-color 5s;
}

.cool-red{
	visibility: visible;
	display: block;
	background-color: red;
	width: 100px;
	height: 100px;
}